*
{
	padding:0px;
	margin: 0px;
}
body
{
	color: #1c1e21;
}
.header-control
{
	background-color: #3F5C9A;
	width: 100%;
	height: 90px;
}
.control-align
{
	width: 980px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.img-control
{
	float: left;
}
.img-control img
{

	width: 200px;
	height: 50px;
	margin-top:25px;
}
.login
{
	float: right;
	font-family: Arial;
	font-size: 14px;
	color: white;
	padding-top: 20px;
}
.login p
{
	margin-left: 10px;

}
.inputtxt
{
	width: 150px;
	height:20px;
	margin-left: 10px;
}
.btn
{
	background-color: #2980b9;
	color: white;
	font-family: Arial;
	padding: 05px; 05px; 05px; 05px;
	border: none;
	border-radius: 03px;
	margin-left: 05px;
} 
.login a
{
	color: white;
	text-decoration: none;
}
.content-control
{
	width: 1300px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.left
{
	float: left;
	margin-right:20px;
	width:480px;
	font-family: Arial;
	color: #0E385F;
}
.left h3
{
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 22px;
}
.right
{
	float: right;
	font-family:Arial;
	margin-top: 20px;
}
.ipt
{
	width: 180px;
	height: 30px;
	margin-top: 10px;
	margin-left: 05px;
	border-radius: 03px;
	border:none;
	border: 1px solid #95a5a6;
	padding-left: 10px;
	font-size: 20px;
}
.ipt2
{
	width: 390px;
	height: 35px;
	border-radius: 03px;
	padding-left: 10px;
	font-size: 20px;
	border:none;
	border:1px solid #95a5a6;
	margin-left: 05px;
	margin-top: 10px;
}
.dropdown
{
	width: 60px;
	height: 30px;
	padding-bottom:px;
}
.gender
{
	color: rgb(29, 33, 41);
	font-family: Arial;
	font-size: 18px;
	font-weight: 400px;
	padding-left: 3px;
	padding-right: 10px;
	margin-top: 10000px;
	
}
.tc
{
	color: rgb(119, 119, 119);
	display: block;
	font-family: Arial;
	font-size: 11px;
	margin-top: 11px;
	margin-bottom: 11px;
	width: 300px;
}
.ipt3
{
	margin-top: 11px;
	margin-bottom: 11px;
	font-size: 19px;
}
#submit
{
	font-size: 18px;
	background-color: rgb(105, 167, 78);
	border:1px solid rgb(59, 110, 34);
	color: white;
	font-family: Arial;
	padding: 7px 20px;
	width:240px;
	text-align:center;
	font-weight:700;
	margin-bottom:10px;
	margin-top:10px;
	text-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	border-radius: 5px
height:45px;
display: inline-block;
box-sizing: border-box;
}
.Ca
{
border-top: 1px solid #dddfe2;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
}
.footer
{
	justify-content: space-between;
	display: inline-flex;
	width: 980px;
}

#footer_wrapper
{
 width:100%;
 clear:both;
 float:left;
 margin-top:30px;
 min-width:995px;
 background-color:white;
 text-align:left;
}
#footer1
{
 width:980px;
 margin:0px auto;
 padding:0px;
 border-bottom:1px solid #E6E6E6;
 height:30px;
 line-height:30px;
 font-size:12px;
 color:#848484;
}
#footer1 a
{
 color:#365899;
 display:inline;
 margin-left:10px;
 text-decoration:none;
}
#footer1 a:hover
{
 text-decoration:underline;
}
#footer2
{
 width:980px;
 margin:0px auto;
 padding:0px;
 font-size:12px;
 color:#848484;
}
#footer2 a
{
 color:#365899;
 display:inline-block;
 margin:5px;
 margin-left:0px;
 min-width:80px;
 text-decoration:none;
}
#footer2 a:hover
{
 text-decoration:underline;
}
.span
{

	text-align: right;
	margin: 0 auto;
    width: 980px;
}